 .delete-button {
   position: relative;
   display: flex;
   align-items: center;
   cursor: pointer;
 }

 .delete-svgIcon {
   width: 15px;
   position: absolute;
   fill: #333;
   transition-duration: .3s;
 }

 .delete-svgIcon:hover {
  width: 20px;
   fill: rgb(255, 69, 69);

 }

 