.Btn-Edit {
    position: relative;
    display: flex;
    align-items: center;
  
    cursor: pointer;

  }
  
  .svg {
    width: 15px;
    position: absolute;
    fill: #333;
    transition-duration: .3s;
  }
  
  .svg:hover {
    width: 20px;
    fill: rgb(140, 32, 212)
  }
  